$avatar-size: 110px;
$avatar-border: 4px;

.dave-picture {
    display: block;
    border: $avatar-border solid $brand-color;
    border-radius: ($avatar-size + $avatar-border + 1)/2;
    height: $avatar-size;
    width: $avatar-size;
    margin: auto;

    // @include media-query($on-palm) {
    //     margin-bottom: $avatar-border * 4;
    // }
}

.flexi-home {
    display: flex;
    flex-flow: row wrap;

    justify-content: space-around;
    align-content: space-around;
    align-items: center;

    margin: 2px 0px 10px;

    // @include media-query($on-palm) {
    //     display: block;
    //     margin: 2px auto 4px;
    // }
}

%col {
    margin: 10px auto;
}

.avatar {
    @extend %col;
    flex: 1;
    min-width: $avatar-size + (2 * $avatar-border) + 10;
}

.eye-catch {
    display: block;
    // border: 1px solid darken($brand-color, 15%);
    float: left;
    max-width: $content-width / 4;
    margin: 10px;
}

.home-text {
    @extend %col;
    flex: 3;
    min-width: 400px;
}

.image-centre {
    display: block;
    margin: auto;
}