$avatar-size: 110px;
$avatar-border: 4px;

.dave-picture {
    display: block;
    border: $avatar-border solid $brand-color;
    border-radius: ($avatar-size + $avatar-border + 1)/2;
    height: $avatar-size;
    width: $avatar-size;
    margin: auto;

    // @include media-query($on-palm) {
    //     margin-bottom: $avatar-border * 4;
    // }
}

.home .logo {
    height: 150px;
    width: 150px;
    margin: auto;
}

%col {
    margin: 10px auto;
}

.avatar {
    @extend %col;
    flex: 1;
    min-width: $avatar-size + (2 * $avatar-border) + 10;
}

.eye-catch {
    display: block;
    // border: 1px solid darken($brand-color, 15%);
    margin: 10px;
}

.post-list .eye-catch {
    max-width: $content-width / 2;
    border: 1px solid lighten($color: $brand-color, $amount: 10%);
    box-shadow: 0px 0px 6px 1px $grey-color;
    margin: 10px auto ;
    
    @include media-query($on-palm) {
        max-width: $content-width / 4;
    }
}

.excerpt {
    @extend %clearfix;
}

.post-content > .eye-catch {
    margin: 2px auto 10px;
    max-width: 590px;
    
    @include media-query($on-palm) {
        max-width: 430px;
    }
}

.image-centre {
    display: block;
    margin: auto;
}

.btn {
   @at-root a#{&} {
        color: $background-color;
        &:hover {
            color: darken($background-color, 25%);
        }
        &:visited {
            color: $background-color;
        }
    }
    display: inline-block;
    background-color: lighten($color: $brand-color, $amount: 10%);
    color: $background-color;
    padding: 6px;
    border: 1px solid darken($brand-color, 10%);
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0px $grey-color;
    
    &.disabled {
        color: $grey-color;
    }

    &.right {
        float: right;
    }
}