---
layout: page
---

<div>
    {{ content }}

    {% if site.categories[page.category] %}
    <ul class="post-list">
        {% for post in site.categories[page.category] %}
        <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <ul class="tags">
                {%- assign tags_num = post.tags | size -%}
                {%- for tag in post.tags -%}
                {%- if tag != 'Case_Study' -%}
                <li>{{ tag | replace: "_", " "  }}</li>
                {%- endif -%}
                {%- endfor -%}
            </ul>
            <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h3>
            {%- if site.show_excerpts -%}
            {%- if post.image -%}
            <div class="eye-catch">
                <img src="{{ post.image }}">
            </div>
            {%- endif -%}
            <div class="excerpt">
                {% assign size = post.content | split: site.excerpt_separator | size %}
                {% if size > 1 %}
                {{ post.excerpt }}
                <a class="btn right" href="{{ post.url | prepend: site.baseurl }}">{{ site.str_read_more }}</a>
                {% else %}
                {{ post.content }}
                {% endif %}
            </div>
            {%- endif -%}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    No posts here, yet.
    {% endif %}
</div>